{%extends 'base.html'%}
{% load static %}
{%block title%}Password change{%endblock%}
{%block heading%}Change Password{%endblock%}
{%block table%}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form action="" method="post" class="row g-3">
                        {%csrf_token%}
                        <!-- <h4>Please login to enter Home </h4> -->
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" name="currentpassword" class="form-control" placeholder="Current Password">
                        </div>
                        <div class="col-12">
                            <label>New Password</label>
                            <input type="password" name="password1" class="form-control" placeholder="New Password">
                        </div>
                        <div class="col-12">
                            <label>Re enter Password</label>
                            <input type="password" name="password2" class="form-control" placeholder="Re enter Password">
                        </div>
                        
                        <div class="col-12">
                            {% for message in messages %}
                        <h6 style="color: rgb(12, 86, 26);">{{message}} </h6>
                        {% endfor %}
                            <button type="submit" class="btn btn-dark float-end" style="margin-top: 5px;">Proceed</button>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {%endblock%}