{%extends 'base.html'%}
{% load static %}
{%block title%}Shop{%endblock%}
{%block heading%}Shop{%endblock%}
{%block table%}
 
    
	

	<!-- products -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
							{% for category in categories %}
            				<li data-filter=".{{category.id}}">{{ category.name }}</li>
        					{% endfor %}
                            
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				{% for product in prod %}
					{% if product.is_listed and product.category.is_listed and product.stock >= 1 %}
						<div class="col-lg-4 col-md-6 text-center {{ product.category.id }}">                                
							<div class="single-product-item">
								<div class="product-image">
									<a href="{% url 'singleproduct' item_id=product.id %}">
										{% if product.image %}
											<img src="{{ product.image.url }}" alt="{{ product.name }}">
										{% endif %} 
									</a>
								</div>
								<h3>{{ product.name }}</h3>
								<p class="product-price">₹{{ product.price }}</p>
								<div id="wishlist-form-container">
									<form class="wishlist-form" action="{% url 'addtowishlist' product_id=product.id %}" method="post">
										{% csrf_token %}
										<button type="submit" class="wishlist-btn"><i class="far fa-heart"></i> Add to Wishlist</button>
									</form>
									
									<div class="wishlist-message-container"></div>							
								</div>															
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			

			
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="pagination-wrap">
				<ul>
					{% if prod.has_previous %}
						<li><a href="?page=1">First</a></li>
						<li><a href="?page={{ prod.previous_page_number }}">Prev</a></li>
					{% endif %}
					
					{% for num in prod.paginator.page_range %}
						<li {% if num == prod.number %} class="active"{% endif %}><a href="?page={{ num }}">{{ num }}</a></li>
					{% endfor %}
	
					{% if prod.has_next %}
						<li><a href="?page={{ prod.next_page_number }}">Next</a></li>
						<li><a href="?page={{ prod.paginator.num_pages }}">Last</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
<script>
    $(document).ready(function() {
        $(".wishlist-form").submit(function(event) {
            event.preventDefault();  // Prevent the default form submission

            var form = $(this);

            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function(response) {
                    // Handle the success response
                    form.siblings(".wishlist-message-container").text(response.message);
                },
                error: function(error) {
                    // Handle the error response
                    console.log(error);
                }
            });
        });
    });
</script>

{%endblock%}
	<!-- end products -->

	
	