{%extends 'base.html'%}
{% load static %}
{%block title%}Search{%endblock%}
{%block heading%}Search Result{%endblock%}
{%block table%}
 
    
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">Search Result:</li>
							
                            
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				{% for i in products %}
				{% if i.is_listed and i.category.is_listed and i.stock >= 1 %}
				<div class="col-lg-4 col-md-6 text-center {{ i.category.id }}">								
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'singleproduct' item_id=i.id %}">
								
								{% if i.image %}
                                <img src="{{ i.image.url }}" alt="{{ i.name }}" >
                            {% endif %} 
							</a>
						</div>
						<h3>{{i.name}}</h3>
						<p class="product-price">₹{{i.price}}</p>
						<!-- <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
					</div>
				</div>
				{% endif %}
				{% endfor %}
				
			</div>
        </div>
    </div>
        {%endblock%}