{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Category management</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css --> 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
  <style>
    .logo-img {
      max-width: 150px; /* Adjust this value as needed */
      height: auto;
    }
    
  </style>
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="navbar-brand">
        <img src="{% static 'img/spectalogo.png' %}" alt="" class="logo-img">
      </span>
      
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/adminhome/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usermanage/">User Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productmanage/">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categorymanage/">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ordermanage/">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/couponmanage/">Coupons</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-danger" href="/adminlogout/">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        
      </nav>
      
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div>
                    
                    <a class="btn btn-secondary float-right" href="/addcoupon/">+ Add Coupon</a>

                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Coupon</th>
                          <th>Amount</th>            
                          <th>Expiry</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in coupon %}
                        <tr>
                          <td>{{ i.code }}</td>
                          <td>{{ i.discount_amount }}</td>
                          <td>{{ i.valid_to}}</td>
                          <td>
                            <a class="btn btn-secondary btn-sm" href="/couponstatus/{{i.id}}">
                              {% if i.is_active %}
                                Deactivate
                              {% else %}
                                Activate
                              {% endif %}
                            </a>
                          </td>
                        </tr>
                         {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
